# Vim swp
*.swp

# Python
*.pyc

# Generated assets
static/assets

# Sass cache
.sass-cache

# Generated data files
# Downloaded data files (script will download for you)
data/generated
data/dls

# Files downloaded via Bower
bower_components
