{% extends 'base.html' %}

{% set css_files = ['assets/app.css'] %}
{% set require_js_main = 'assets/js/app' %}

{% set cube_tabs = [
  'White',
  'Blue',
  'Black',
  'Red',
  'Green',
  'Artifact',
  'Multi',
  'Land'
] %}

{% block body %}
  <p>
    If you are familiar with Magic the Gathering, here is a card list of the
    cube that my college buddies put together.
  </p>
  <p>
    Thanks to <a href="http://www.yawgatog.com/resources/oracle/">Yawgatog</a>
    for a text file of the MTG database.
  </p>

  <ul class="nav nav-tabs">
  {% for tab in cube_tabs %}
    <li><a href="#{{ tab|lower }}" data-toggle="tab">{{ tab }}</a></li>
  {% endfor %}
  </ul>

  <div id="cube_content" class="tab-content">
  {% for tab in cube_tabs %}
    <div class="tab-pane" id="{{ tab|lower }}">
      <table class="table table-hover table-bordered">
        <thead>
          <th><a href="javascript:void(0)" class="mana">Mana Cost</a></th>
          <th><a href="javascript:void(0)" class="name">Name</a></th>
          <th><a href="javascript:void(0)" class="type">Type</a></th>
          <th>Text</th>
          <th><a href="javascript:void(0)" class="p">P</a></th>
          <th><a href="javascript:void(0)" class="t">T</a></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  {% endfor %}
  </div>
{% endblock %}
